<div class="modal-header">
    <h3>Add Workflow Action</h3>
</div>
<div class="modal-body">
    <form class="form-group" id="add-workflow-item-form">
        <div class="control-group">
            <label class="control-label col-md-4" for="workflow-name">Name:</label>
            <div class="col-md-8">
                <input type="text" class="form-control input-sm input-margin" id="workflow-name" name="name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label col-md-4" for="description-field">Description:</label>
            <div class="col-md-8">
                <textarea id="description-field" class="form-control input-sm input-margin" name="description"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label col-md-4" for="order-field">Order (Number Only):</label>
            <div class="col-md-8">
                <input type="text" class="form-control input-sm input-margin" id="order-field" name="order">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label col-md-4" for="type-field">Action Type:</label>
            <div class="col-md-8">
                <select class="form-control input-sm input-margin" name="action_type">
                    <option value="1">Approval - Any recruiter can approve.</option>
                    <option value="2">Countersign - Two recruiters must approve.</option>
                    <option value="3">Vote - A fixed amount of votes is required.</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label col-md-4" for="votes-field">Votes Required (only for vote):</label>
            <div class="col-md-8">
                <input id="votes-field" class="form-control input-sm input-margin" type="text" class="input input-mini" name="votes">
            </div>
        </div>
        <div class="control-group">
            <div class="col-md-8 input-margin">
            	<input type="checkbox" id="required" name="required">  Action Required
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $('#add-workflow-item-form').submit(function(e){
                e.preventDefault();
                SaveNewWorkflowAction();
                return false;
                });
    </script>
</div>
<div class="modal-footer">
	<div class="control-group">
		<div class="col-md-8">
		    <button class="btn btn-success btn-sm" onclick="SaveNewWorkflowAction();">Add</button>
		    <button class="btn btn-danger btn-sm" onclick="$('#modalHolder').parent().hide();">Cancel</button>
		</div>
	</div>
</div>
