{% extends "base.html" %}
{% block title %}Edit Applications{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{STATIC_URL}}js/ro_app_editor.js"></script>
{% endblock %}
{% block content %}
<div class="row" style="max-width: 1600px">
    <div class="col-md-3">
    	<div class="panel panel-default">
    		<div class="panel-heading">
		        <h4>Applications:</h4>
		    </div>
		    <div class="panel-body">
		        <ul style="margin-top: 25px;" class="nav nav-pills nav-stacked">
		            {% for application in apps %}
		            <li><a data-toggle="pill" href="#app{{application.pk}}" onclick="GetApplication({{application.pk}});">{{application.name}}</a></li>
		            {% empty %}
		            <li>None Defined!</li>
		            {% endfor %}
		            <li><a data-toggle="pill" href="#applicationadd"><i class="icon-plus"></i> Add New</a></li>
		        </ul>
		    </div>
		</div>
    </div>
    <div class="col-md-8">
        <div class="tab-content">
            {% for application in apps %}
            <div class="tab-pane" id="app{{application.pk}}">
            </div>
            {% endfor %}
            <div class="tab-pane" id="applicationadd">
            	<div class="panel panel-default">
            		<div class="panel-heading">
            			<h4>New Application</h4>
            		</div>
            		<div class="panel-body">
		                <form class="form-horizontal" id="newAppForm">
		                	<div class="form-group">
		                        <div class="controls col-md-8 col-md-offset-4">
		                    		<h4>Application Settings:</h4>
		                    	</div>
		                    </div>
		                    <div class="form-group">
		                        <label for="applicationName" class="col-md-4 control-label">Name:</label>
		                        <div class="controls col-md-8">
		                            <input type="text" class="input-sm input-margin form-control" id="applicationName" name="name" value="{{application.name}}">
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label for="appInstructions" class="col-md-4 control-label">Instructions:</label>
		                        <div class="controls col-md-8">
		                            <textarea type="text" class="input-sm input-margin form-control" id="appInstructions" name="instructions">{{application.instructions}}</textarea>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label for="appStandings" class="col-md-4 control-label">Use Standings From:</label>
		                        <div class="controls col-md-8">
		                            <input type="text" id="appStandings" class="input-sm input-margin form-control corpAPIAuto" name="standings" {% if application.use_standings %}value="{{application.use_standings.name}}"{% endif %}>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label for="appAcceptGroup" class="col-md-4 control-label">Group on Accept:</label>
		                        <div class="controls col-md-8">
		                            <input type="text" id="appAcceptGroup" class="input-sm input-margin form-control groupAuto" name="accept_group" {% if application.accept_group %}value="{{application.accept_group.name}}"{% endif %}>
		                        </div>
		                    </div>
		                    <div class="form-group">
				                <label for="appAcceptVotes" class="col-md-4 control-label">Required number of votes to accept:</label>
				                <div class="controls col-md-8">
				                    <input type="text" id="appAcceptVotes" class="input-sm input-margin form-control groupAuto" name="required_votes">
				                </div>
				            </div>
		                    <div class="form-group">
		                        <div class="controls col-md-8 col-md-offset-4">
		                        	<div class="checkbox">
			                            <label>
			                                <input type="checkbox" id="appUserRequire" name="require_user" {% if application.require_account %}checked="checked"{% endif %}> Require pre-existing account
			                            </label>
			                       	</div>
			                       	<div class="checkbox">
		                           		<label>
		                               		<input type="checkbox" id="appDisable" name="disable_user" {% if application.disable_user_on_failure %}checked="checked"{% endif %}> Disable Account on Reject
		                            	</label>
		                           	</div>
		                           	<div class="checkbox">
		                            	<label>
		                                	<input type="checkbox" id="appPurge" name="purge_api" {% if application.purge_api_on_failure %}checked="checked"{% endif %}> Purge API on Reject
		                            	</label>
		                            </div>
		                       </div>
		                   </div>
		                   <div class="form-group">
		                        <div class="controls col-md-8 col-md-offset-4">
				                    <h4>Mail Templates:</h4>
				                    <p class="text-info">
				                        The following will be sent via email to the applicant if they provide an email address on registration. The text %APPLICANT% will be replaced by the applicant's username. If left blank, no email will be sent.
				                    </p>
				                    <p class="bg-danger">&nbsp;Not yet implemented</p>
				                </div>
				            </div>
		                    <div class="form-group">
		                        <label for="accept_sbj" class="control-label col-md-4">Accept Subject:</label>
		                        <div class="controls col-md-8">
		                            <input type="text" id="accept_sbj" class="input-sm input-margin form-control" name="accept_sbj" {% if application.accept_subject %}value="{{application.accept_subject}}"{% endif %}>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label for="accept_mail" class="control-label col-md-4">Accept Mail:</label>
		                        <div class="controls col-md-8">
		                            <textarea id="accept_mail" name="accept_mail" class="input-sm input-margin form-control">{% if application.accept_mail %} {{application.accept_mail}} {% endif %}</textarea>
		                        </div>
		                    </div>
		                     <div class="form-group">
		                        <label for="defer_sbj" class="control-label col-md-4">Defer Subject:</label>
		                        <div class="controls col-md-8">
		                            <input type="text" id="defer_sbj" class="input-sm input-margin form-control" name="defer_sbj" {% if application.defer_subject %}value="{{application.defer_subject}}"{% endif %}>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label for="defer_mail" class="control-label col-md-4">Defer Mail:</label>
		                        <div class="controls col-md-8">
		                            <textarea id="defer_mail" name="defer_mail" class="input-sm input-margin form-control">{% if application.defer_mail %}{{application.defer_mail}}{% endif %}</textarea>
		                        </div>
		                    </div>
		                     <div class="form-group">
		                        <label for="reject_sbj" class="control-label col-md-4">Reject Subject:</label>
		                        <div class="controls col-md-8">
		                            <input type="text" id="reject_sbj" class="input-sm input-margin form-control" name="reject_sbj" {% if application.reject_subject %}value="{{application.reject_subject}}"{% endif %}>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label for="reject_mail" class="control-label col-md-4">Reject Mail:</label>
		                        <div class="controls col-md-8">
		                            <textarea id="reject_mail" name="reject_mail" class="input-sm input-margin form-control">{% if application.reject_mail %}{{application.reject_mail}}{% endif %}</textarea>
		                        </div>
		                    </div>
		                 <div class="form-group">
		                       <div class="controls col-md-8 col-md-offset-4">
		                           <button type="submit" class="btn btn-sm btn-success">Create</button>
		                       </div>
		                    </div>
		                </form>
		            </div>
		        </div>
                <script type="text/javascript">
                    $('#newAppForm').submit(function(e){
                            e.preventDefault();
                            NewApplication();
                            return false;
                            });
                </script>
           </div>
        </div>
    </div>
</div>
{% endblock %}
