{% load humanize %}
<div id="recruiterApprovalAction">
        <h3>{{action_entry.action.name}}</h3>
        {% if action_entry.action.description %}
            <p class="infoText label label-primary">{{action_entry.action.description}}</p><br /><br />
        {% endif %}
        <table class="table table-hover table-bordered">
            <tr>
                <th width='60%'>Status</th>
                <th>
                {% if not action_entry.completed %}
                	 <span class="label label-pills label-danger">&#x2717;</span>
                {% else %} 
                	 <span class="label label-pills label-success">&#x2713;</span>
                {% endif %}
                </th>
            </tr>
            <tr>
                <td>Votes required</td>
                <td>{{action_entry.action.required_votes}}</td>
            </tr>
            <tr>
                <td>Votes in favor</td>
                <td>{{in_favor}}</td>
            </tr>
        </table>
        <form id="voteForm">
			<div id="voteDiv">
				<div class="radio">
				    <label>
	                    <input name="actionVote" value="0" type="radio"> Against
	                </label>
	            </div>
	            <div class="radio">
	                <label>
	                    <input name="actionVote" value="1" type="radio"> In favor
	                </label>
	            </div>
                <br />
				<label for="actionComment" class="control-label">Comment:</label>
			    <div class="controls">
			        <textarea class="form-control input-margin" rows="5" id="actionComment" name="actionComment"></textarea>
				</div>
			</div>
			<div class="controls">
		    	<button type="submit" class="btn btn-sm btn-primary" onclick=";">Vote</button>
			</div>
		</form>
		<table class="table table-hover table-bordered">
            <tr>
                <th width='60%'>Voter</th>
                <th>Vote</th>
            </tr>
        {% for vote in action_entry.vote_info.all %}
            <tr>
                <td width='60%'>{{vote.voter.username}}</td>
                <td>{% if vote.result == 1 %} In favor {% else %} Against {% endif %}</td>
            </tr>
            {% if vote.comment %}
                <tr>
                    <td colspan='2'><b>Comment:</b> {{vote.comment}}</td>
                </tr>
            {% endif %}
        {% endfor %}
</div>
<script type="text/javascript">
    $('#voteForm').submit(function(e){
                e.preventDefault();
                RecruiterVoteAction({{app.pk}}, {{action_entry.action.pk}});          
                return false;
            });
</script>